In [26]:
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Hourly

# Set time period
start = datetime(2020, 1, 1)
end = datetime(2021, 12, 31, 23, 59)

# Create Point for Vancouver, BC
vancouver = Point(46.3274, 18.0636, 70)

# Get daily data for 2018
data = Hourly(vancouver, start, end)
data = data.fetch()

# Plot line chart including average, minimum and maximum temperature
# data.plot(y=['tavg', 'tmin', 'tmax'])
# plt.show()

In [27]:
sum(data["prcp"].notna())

8745

In [28]:
data.describe()

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
count,17544.000000,17544.000000,17544.000000,8745.000000,0.0,17544.00000,17544.000000,17544.000000,17544.000000,0.0,17544.000000
mean,12.293975,6.751545,74.068741,0.072979,NaN,150.89381,7.696797,21.204469,1017.830586,NaN,3.306544
std,8.971011,7.022064,20.858840,0.382725,NaN,129.61977,4.700572,10.265819,8.128677,NaN,3.262949
min,-8.800000,-17.100000,12.000000,0.000000,NaN,0.00000,0.000000,3.700000,987.000000,NaN,0.000000
25%,5.000000,1.200000,58.000000,0.000000,NaN,0.00000,3.600000,13.000000,1012.500000,NaN,2.000000
50%,11.800000,6.700000,79.000000,0.000000,NaN,160.00000,7.200000,18.500000,1017.300000,NaN,2.000000
75%,18.800000,12.300000,93.000000,0.000000,NaN,270.00000,10.800000,25.900000,1023.300000,NaN,4.000000
max,37.600000,22.100000,100.000000,13.700000,NaN,360.00000,43.200000,97.000000,1048.400000,NaN,27.000000

In [29]:
import meteostat

In [41]:
X=(46.3274, 18.0636)
stations=meteostat.Stations()
stations.region("HU").count()

40